<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')%>
        <link rel="stylesheet" href="partials.css">
        <link rel="stylesheet" href="main.css">
        <title>Main</title>
    </head>

    <body>
        
        <nav>
            <a href="/"><h2>JSMAIL</h2></a>
        </nav>
    
        <main>

            <h1>JSMAIL</h1>
            
            <p>Write and receive e-mails</p>
            
            <div>
                <a href="/users/singIn" class="singIn">Sing In</a>
                <a href="/users/singUp" class="singUp">Sing Up</a>
            </div>
            
        </main>
        
    </body> 

</html>