<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="../partials.css">
        <link rel="stylesheet" href="../sing.css">
        <title>Sing In</title>
    </head>

    <body>
        
        <header>
            <nav>
                <a href="/"><h2>JSMAIL</h2></a>
            </nav>
        </header>
    
        <main>

            <h3>Sing In</h3>

            <form action="" method="post">
                <div>
                    <label for="">Email:</label>
                    <input type="text" name="email" id="">
                </div>
                <div>
                    <label for="">Password:</label>
                    <input type="password" name="password" id="">
                </div>
                <div class="buttons">
                    <a href="/">Go Back</a>
                    <button type="submit">
                        Sing In
                    </button>
                </div>
           </form>

        </main>

        <footer>
            <h2>JSMAIL</h2>
        </footer>

    </body> 

</html>