<nav>
    <a href="/inbox"><h2>JSMAIL</h2></a>
    <input type="text">
    <ul>
        <a href=""       class="theme"   >Light</a>
        <a href=""       class="language">Spanish</a>
        <a href="/write"  class="write"   >Write</a>
        <a href="">Log out</a>
    </ul>
</nav>